<journal-header />

<!-- <main class="flex justify-center gap-8">
  <journal-entries />
  <journal-entry-detail/>
</main> -->
<!-- @switch (selectedFeature) { @case ('documents') {
<journal-documents />
} @case ('messages') {
<journal-messages />
} @case ('entries') {
<journal-entries />
} @default {
<p>Page not found</p>
} } -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
